* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 212, 255, 1);
    /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pink);
    /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--white);
    /* Color when hovered */
}

/* rooot */
.container {
    margin: 0 auto !important;
}
:root {
    --pink: rgb(248, 13, 52);
    --btn: rgb(227, 129, 165);
    --btn-gra: linear-gradient(45deg, rgba(227, 129, 165, 1) 42%, rgba(2, 177, 232, 1) 79%, rgba(0, 212, 255, 1) 100%);
    --white: white;
    --blue:rgba(0, 212, 255, 1);
}

/* root color */
.pink-text,
h5 {
    color: var(--pink);
}

.my-pagination.active {
    background-color: var(--pink) !important;
    color: var(--white) !important;
    border: none !important;
}

.my-pagination {
    background-color: var(--white) !important;
    color: var(--pink) !important;
    border: none !important;
}
.my-pagination:hover {
    background-color: var(--blue) !important;
    color: var(--white) !important;
    border: none !important;
}


li {
    list-style-type: none;
}

.btn-color {
    background-color: var(--btn);
    background-color: var(--btn-gra);
    border: 1px var(--pink) solid;

}

.btn-color:hover {
    background-color: var(--pink);
    color: var(--white);
    border: 1px var(--blue) solid;
    box-shadow: 0px 13px 47px 8px rgba(2, 178, 232, 0.87);
    
}

a {
    text-decoration: none;
    color: #000;
}

/* toggle */
.toggle-left {
    position: fixed;
    top: 1.5em;
    left: 2em;
}

.toggle-right {
    position: fixed;
    top: 1.5em;
    right: 2em;
}

/* hero index */
.hero {
    width: 100%;
    background-color: rgb(139, 0, 45);
    background: linear-gradient(45deg, rgba(139, 0, 45, 1) 7%, rgba(227, 129, 165, 1) 42%, rgba(2, 177, 232, 1) 65%, rgba(0, 212, 255, 1) 100%);
}
/* animation */
.border-animate{
    box-shadow: 0px 13px 47px 8px rgba(2,177,232,0.72);
-webkit-box-shadow: 0px 13px 47px 10px rgba(2,177,232,0.72);
-moz-box-shadow: 0px 13px 47px 10px rgba(2,177,232,0.72);}
.border-animate:hover{
    box-shadow: -7px 29px 87px 17px rgba(139,0,45,0.5);
-webkit-box-shadow: -7px 29px 87px 17px rgba(139,0,45,0.5);
-moz-box-shadow: -7px 29px 87px 17px rgba(139,0,45,0.5);
}
/* cart */
.cart-btn {
    position: relative;
}
#cart-count {
    border: 1px solid black;
    position: absolute;
    top: -20px;
    right: -8px;
}